<section class="mock-phone-section">
	<div class="phone-frame">
		<img
			src="images/phone-mockup.svg"
			alt="Phone Frame"
			class="phone-frame-img" />
		<div class="screen-content">
			<img
				src="images/AppScreens/Login.jpg"
				alt="App Preview"
				class="screen-image active" />
			<img
				src="images/AppScreens/TellUsMore.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/LaVine.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/Preferences.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/ProfilePage.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/FriendsAndGroups.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
					src="images/AppScreens/Burgerz.jpg"
					alt="App Preview"
					class="screen-image" />
			<img
				src="images/AppScreens/LaVine.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/YouMatched.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/LikesScreen.jpg"
				alt="App Preview"
				class="screen-image" />
			<img
				src="images/AppScreens/LaVine.jpg"
				alt="App Preview"
				class="screen-image" />
		</div>
	</div>
	<section class="screen-information">
		<div class="title-box">
			<p class="screen-description active">Login</p>
			<p class="screen-description">Accommodations and Restrictions</p>
			<p class="screen-description">Home Screen</p>
			<p class="screen-description">Preference Pop-Up</p>
			<p class="screen-description">Profile</p>
			<p class="screen-description">Friending and Grouping</p>
			<p class="screen-description">New Home Screen</p>
			<p class="screen-description">Home Screen after swipe</p>
			<p class="screen-description">Match!</p>
			<p class="screen-description">Likes</p>
			<p class="screen-description">Home Screen</p>
		</div>
		<div class="description-box">
			<p class="screen-description active">
				When you open the app, this is the first screen you will see. There are options to log in, if you already have an account,
				sign up if you are a new user, or additional options such as "forgot password" and "remember me"
			</p>
			<p class="screen-description">
				This page will collect the information about your accommodations and restrictions, (for the purposes of this application, we
				refer to all necessary restrictions and acommodations just as "accommodations") this can be but is not limited to, alergies,
				vegetarianism, veganism, gluten-free, etc. This is will help Dinder find restaurants in your area that fit your needs.
			</p>
			<p class="screen-description">
				The home screen of the app; where you will see the restaurants that match your accommodations and preferences. There is a 'preferences'
				button on the bottom-right corner that will allow you to change your preferences at any time. Additionally, you can click the image on 
				screen to see additional information about the restaurant such as reviews, menus, and more. On the top of the screen, you can quckly change
				which group you are using to Dinder.
			</p>
			<p class="screen-description">
				Preferences are things about you that are going to change with time. It could be as small as a simple craving, something you may or may not
				be feeling in the moment, or it could be something more permanent like a preference for spicy food. This is where you can change your preferences at any time.
				There are many preferences you can alter, such as the cuisine, price range, distance from your current location, whether you want to dine in or take out, and so much more.
			</p>
			<p class="screen-description">
				Your profile is where you can see all of your information, and are able to change it at any time. You can also change your accommodations here. All the information you
				have given Dinder will be placed here, such as your email address, name, and more. You can choose what is shown to other users and whether or not they can find you on Dinder.
			</p>
			<p class="screen-description">
				You can find your find your friends that are on dinder, friend them, create groups, invite them to groups, and more from this page. This works 
				as a social 'hub' for you and your friends to find each other on Dinder. You can also see which groups you are in, and which groups you have created.
			</p>
			<p class="screen-description">
				After adding people to a group or joining one yourself you will notice the restaurants on your home page have changed. This is because
				Dinder is no longer looking for restaurants that match your individual needs but ones that match the needs of your entire group. This
				includes all restaurants that macth your needs as well as the needs of others. You can leave a group or stop Dindering with a group at
				any time and Dinder will revert back to your individual preferences and accommodations.
			</p>
			<p class="screen-description">
				After swiping right on a restaurant, it will be added to your 'likes' page. This is where you can go to see your recent likes. If everyone
				in your group has swiped right on the same restaurant, you will be match and will be given additional information.
			</p>
			<p class="screen-description">
				When everyone swipes right on the same restaurant, you will match! Click this popup for additional information.
			</p>
			<p class="screen-description">
				See your recent likes here. In case you want to revisit a restaurant you liked, or if you want to filter by group, you can do so here.
			</p>
			<p class="screen-description">
				The home screen will allow you to continue Dindering even after a match! Finding a restaurant has never been easier!
			</p>
		</div>
	</section>
</section>
