<!-- InfoSection.html -->
<section class="value-props">
	<h2 class="value-props-heading">Why Choose Dinder?</h2>
	<div class="info-block">
		<section class="info-section">
			<img
			src="images/graphicon.png"
			alt="Group Sync Icon"
			class="info-icon" />
			<div class="info-text">
				<h3 class="info-heading">Accommodations and Preferences</h3>
				<p class="info-description">
					Dinder creates a vector anchored down by your accommodations but ever-flexible with your preferences.
					As you swipe, Dinder learns your tastes and adjusts recommendations accordingly.
				</p>
			</div>
		</section>
		<section class="info-section">
			<img src="images/groupofpeopleicon.png" alt="Review Icon" class="info-icon" />
			<div class="info-text">
				<h3 class="info-heading">Grouping and Friending</h3>
				<p class="info-description">
					Add friends to your Dinder group and share preferences and accommodations across it. When you are in a group, your
					homepage will update to show restaurants that match the group's preferences and accommodations. You can flip between
					groups at any time.
				</p>
			</div>
		</section>
		<section class="info-section">
			<img src="images/customizeicon.png" alt="Swipe Icon" class="info-icon" />
			<div class="info-text">
				<h3 class="info-heading">Swipe to Decide</h3>
				<p class="info-description">
					When everyone swipes right on the same restaurant, you will match and will be sent information about the restaurant. You may continue Dindering after matching.
					<!-- This method has been psychologically proven to increase satisfaction
					up to 100%, decrease stress, and increase happiness as you spend less time choosing and more time eating! -->
				</p>
			</div>
		</section>
	</div>
</section>
