
.value-props-heading {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    padding: 2rem;
    font-family: 'Patrick Hand', cursive;
    text-align: left;
}

.info-block {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.value-props img {
    display: flex;
    max-width: 25%;
    max-height: auto;
    align-self: center;
    margin: -2rem;
}

.info-heading {
    display: flex;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    justify-content: center;
}

.info-description {
    display: flex;
    justify-content: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
.value-props-heading {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: -8rem;
}
.value-props img {
    max-width: 35%;
}
.info-heading {
    display: flex;
    margin-top: 2rem;
    font-size: 0.9rem;
}
.info-description {
    font-size: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
}