.navbar {
	position: sticky;
	font-size: 3rem;
	flex-wrap: nowrap;
	font-family: 'Patrick Hand', cursive;
}

.navbar nav ul {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	padding-bottom: 1.25rem;
	margin: 0;
}

.navbar nav ul li {
	margin-right: 2rem;
}

.navbar nav ul li a {
	text-decoration: none;
	color: white;
}

#spikeRow,
#spikeBottom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	transform: scale(2);
}

/* Bottom spikes: scale + flip */
#spikeBottom svg {
	transform: rotate(180deg);
	transform-origin: left center;
	display: block;
	line-height: 0;
}
#spikeBottom {
	margin-bottom: -0.75rem;
	z-index: 2;
}

#spikeRow {
	margin-top: -1rem;
}

.nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f33534;
}

.logo img {
	height: 60px;
	width: auto;
	display: block;
	margin-left: 0.5rem;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav-links {
	min-width: 92%;
	padding: 1rem 1rem 1rem 0;
}

.nav-title {
	color: white;
}

.logo-section {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-title span {
	display: inline-block;
	transform: translateX(3.5rem);
}

@media screen and (max-width: 768px) {
	#spikeBottom svg {
		display: flex;
		transform: rotate(180deg);
	}
}
